@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Arial',sans-serif;
  line-height: 1.7;
	font-style: normal;
}
p {
  margin-bottom: 0;
  line-height: 30px;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 2.3rem;
  padding-bottom: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nav */
.nav-header {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #fff;
  transition: 0.5s;
}  
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  h1 {
    font-size: 2.1rem;
    margin: 1.0rem;
    margin-left: 3rem;
    font-family: sans-serif;
  }
}

.menu {
  width: 100%;
  font-size:0.9em;
  background-color: transparent;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}
dl, ol, ul {
  margin-bottom: 0;
}
.log {
  padding: 0 1em;
  margin-right: 3rem;
  border-bottom: none;
  color: #fff;
  font-size: 16px;
}

.menu ul li a:hover{
  background-color:transparent;
}

/* main */
#slider {
  width: 100%;
}
.header-title {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 800px;
  background-image: url(../img/五重塔.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;
  h2 {
    position: absolute;
    bottom: 130px;
    left: 8%;
  }
}
.header-title::before {
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

//main-section
.main-section {
  width: 100%;
  padding: 5rem 0 3rem 0;
  background-color: #fff;
}  
.main-contents-wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.main-content-wrapper {
  width: 50%;
  margin: 2rem;
  h2 {
    padding-bottom: 2rem;
  }
  span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .space {
    margin: 1rem 0;
  }
  p {
    line-height: 30px;
    margin-bottom: 0;
  }
}

.sub-contents {
  width: 40%;
  height: 15rem;
  margin-top: 4rem;
  text-align: center;

  img {
    width: 80%;
    height: 100%;  
  }
}


//design-section
.design-section {
  width: 100%;  
  h2 {
    text-align: center;
  }
  span {
    font-family: sans-serif;
  }
}
.design-contents {
  width: 75%;
  display: flex;
  justify-content: space-between; 
  margin: 0 auto;
  margin-bottom: 3rem;
  img {
    width: 550px;
    height: 300px;
  }
}
.design-text-box {
  width: 50%;
  height: 50%;
  padding: 2rem 4rem;
  .design-title {
    display: flex;
    margin-bottom: 1.5rem;
    font-weight: bold;
    line-height: 1.3rem;
    p {
      font-size: 2rem;
      position: relative;
      padding: 0.5rem;
    }
    p::after {
      content: "";
      width: 100%;
      height: 0.125rem;
      background: rgb(0, 0, 0);
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    h3 {
      width: 80%;
      padding-top: 0.5rem;
      margin: 0 auto;
    }
  }
}

// sub-section
.sub-section {
  text-align: center;
  padding: 5rem;
  width: 100%;
}
.task {
  display: flex;
  flex-wrap: wrap;
}
.task-items {
  width: 40%;
  padding-bottom: 4rem;
  margin: 0 auto;
  p {
    padding: 0.5rem;
    font-weight: bold;
    color: #000;
    background-color: rgb(235, 235, 235);
  }
  img {
    width: 100%;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f5f5f5;
  font-weight: bold;
  background: rgb(40, 41, 10);
}


/* footer */
footer {
  width: 100%;    
  background-color: #000;
  .main-footer {
    width: 80%;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0 auto;
    color: #fff;      
    text-align: center;
    a {
      font-size: 2.5rem;
      font-family: sans-serif;
    }
  }
}

@media (min-width:600px) {
  //スクロールした時のnav
  .scroll-nav {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #000;
    & > nav {
      background:rgba(162, 180, 185, 0.5);
    }
    a {
      color: #000;
    }
  }
}



//タブレット
@media (max-width: 1024px) {

}


//スマートフォン
@media (max-width: 599px) {
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  p {
    font-size: 1rem;
    line-height: 28px;
  }
  //nav
  nav {
    position: none;
    width: 100%;
    height: 70px;
    position: relative;
    display: block
  }

  .drawer {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /*ナビゲーション部分*/
  .menu {
    ul {
      height: 100vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      li {
        width: 100%;
      }
    }
  }

  .menu ul li a {
    display:block;
    font-weight:bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    text-decoration:none;
  }
  .menu ul li a:hover{
    background-color:rgba(0,0,0,0.5);
  }

  .menu{
    text-align:center;
    // background-color:rgba(255,255,255,0.5);
    transition: 0.55s ease;/*滑らかに表示*/
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);/*左に隠しておく*/
    background-color: rgba(46, 46, 46, 0.9);
  }

  /*OPEN時の動き*/
  .menu.open {
    position: fixed;
    top: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
  }

  /*トグルボタンのスタイルを指定*/
  .Toggle {
    display: block;
    cursor: pointer;
    z-index: 3;
    right:50px;
    color:#FFF;
    position: relative;
    bottom: 20px;
    right: 100px;
  }

  .Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #fff;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
  }
  /*各ボーダー少しずつずらす*/
  .Toggle span:nth-child(1) {
    top:5px;
  }
  .Toggle span:nth-child(2) {
    top: 18px;
  }
  .Toggle span:nth-child(3) {
    top: 32px;
  }
  .Toggle.active span:nth-child(1) {
    top: 35px;
  /* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: fixed;
  }

  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2),.Toggle.active span:nth-child(3) {
    top: 35px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: fixed;
  }

  .header-title {
    height: 390px;
    h2 {
      position: absolute;
      bottom: 5px;
      left: 5%;
    }
  }

  //main-section
  .main-section{
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }  
  .main-contents-wrapper {
    display: block;
    width: 90%;
  }  
  .main-content-wrapper {
    width: 100%;
    margin: 0;
    h2 {
      margin-top: 4rem;
    }
    .space {
      margin: 0.5rem 0;
    }
    p{
      line-height: 2rem;
    }
  }
  .sub-contents {
    width: 100%;
    text-align: center;
    margin-top: 0;
    img {
      width: 80%;
    }
  }

  //design-section
  .design-section {
    width: 90%;
    margin: 0 auto;
    h2 {
      padding: 0;
      margin-top: 4rem;
      font-weight: bold;
    }
  }
  .design-contents {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }  
  .design-img {
    text-align: center;
    img {
      width: 50%;
      height: 200px;
    }
  }
  .design-text-box {
    width: 100%;
    padding: 1rem 0;
    .design-title {
      p {
        font-size: 1.5rem;
      }
      h3 {
        padding-top: 0.8rem;
        margin: 0 auto;
      }
    }
  }
  .reverse {
    display: flex;
    flex-direction: column;
  }
    
  //sub-section
  .sub-section {
    padding: 0;
    h2 {
      padding-top: 2rem;
      font-weight: bold;
    }
  }
  .task-items {
    width: 80%;
  }

}



/*# sourceMappingURL=home.css.map */


