@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Arial',sans-serif;
  line-height: 1.7;
  font-style: normal;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2.3rem;
  padding-bottom: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 0.95rem;
  line-height: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* nav */
.nav-header {
  width: 100%;
  position: absolute;
  z-index: 100;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

nav h1 {
  font-size: 2.1rem;
  margin: 1.5rem;
  margin-left: 3rem;
}

.scroll-nav {
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #000;
}

.scroll-nav a {
  color: #000;
}

.menu {
  width: 100%;
  font-size: 0.9em;
  background-color: transparent;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log {
  padding: 0 1em;
  margin-right: 3rem;
  border-bottom: none;
  color: #fff;
  font-size: 16px;
}

.menu ul li a:hover {
  background-color: transparent;
}

/* main */
#slider {
  width: 100%;
}

.header-title {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-image: url(../img/五重塔.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 0;
}

.header-title h2 {
  position: absolute;
  bottom: 130px;
  left: 8%;
}

.header-title::before {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.main-section {
  width: 100%;
  padding: 5rem 0 3rem 0;
  background-color: #fff;
}

.main-contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.main-content-wrapper {
  width: 50%;
  margin: 2rem;
}

.main-content-wrapper span {
  font-weight: bold;
  font-size: 1.5rem;
}

.main-content-wrapper p {
  line-height: 30px;
}

.sub-contents {
  width: 40%;
  height: 15rem;
  margin-top: 4rem;
  text-align: center;
}

.sub-contents img {
  width: 80%;
  height: 100%;
}

.design-section {
  width: 100%;
}

.design-section h2 {
  text-align: center;
}

.design-contents {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.design-contents img {
  width: 550px;
  height: 300px;
}

.design-text-box {
  width: 50%;
  height: 50%;
  padding: 2rem 4rem;
}

.design-text-box .design-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.3rem;
}

.design-text-box .design-title p {
  font-size: 2rem;
  position: relative;
  padding: 0.5rem;
  font-family: Roboto;
}

.design-text-box .design-title p::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: black;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.design-text-box .design-title h3 {
  width: 80%;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.sub-section {
  text-align: center;
  padding: 5rem;
  width: 100%;
}

.task {
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eef2f3;
  width: 40%;
  padding: 0.7rem 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  margin: 0 auto;
}

.task-text {
  width: 100%;
  word-break: break-all;
  text-align: center;
}

.task-text .task-btn {
  color: #555555;
  display: block;
}

.task-text .task-btn img {
  width: 80%;
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f5f5f5;
  font-weight: bold;
  background: #28290a;
}

/* footer */
footer {
  width: 100%;
  background-color: #000;
}

footer .main-footer {
  width: 80%;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

footer .main-footer a {
  font-size: 2.5rem;
}

@media (max-width: 599px) {
  p {
    font-size: 1.3rem;
  }
  nav {
    width: 100%;
    height: 70px;
    position: relative;
    display: block;
  }
  .drawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    padding: 0 1em;
  }
  /*ナビゲーション部分*/
  .menu ul {
    height: 100vh;
  }
  .menu ul li {
    width: 100%;
  }
  .menu ul li a {
    display: block;
    font-weight: bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    text-decoration: none;
  }
  .menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: orange;
  }
  .menu {
    text-align: center;
    -webkit-transition: 0.55s ease;
    transition: 0.55s ease;
    /*滑らかに表示*/
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /*左に隠しておく*/
    background-color: rgba(46, 46, 46, 0.9);
  }
  /*OPEN時の動き*/
  .menu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド）*/
  }
  /*トグルボタンのスタイルを指定*/
  .Toggle {
    display: block;
    position: fixed;
    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    right: 30px;
    color: #FFF;
  }
  .Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #FFF;
    -webkit-transition: .35s ease-in-out;
    /*変化の速度を指定*/
    /*変化の速度を指定*/
    transition: .35s ease-in-out;
    /*変化の速度を指定*/
  }
  /*各ボーダー少しずつずらす*/
  .Toggle span:nth-child(1) {
    top: 5px;
  }
  .Toggle span:nth-child(2) {
    top: 18px;
  }
  .Toggle span:nth-child(3) {
    top: 32px;
  }
  .Toggle.active span:nth-child(1) {
    top: 18px;
    /* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2), .Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  h2 {
    font-size: 2rem;
  }
  .header-title {
    height: 390px;
  }
  .header-title h2 {
    position: absolute;
    bottom: 5px;
    left: 5%;
  }
  .main-section {
    width: 100%;
    padding: 0;
  }
  .main-contents-wrapper {
    width: 90%;
    display: block;
  }
  .main-content-wrapper {
    width: 90%;
  }
  .sub-contents {
    width: 100%;
    text-align: center;
  }
  .sub-contents img {
    width: 80%;
  }
  .design-section {
    width: 90%;
    margin: 0 auto;
  }
  .design-section h2 {
    padding: 0;
  }
  .design-contents {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .design-text-box {
    width: 100%;
    padding: 1rem 0;
  }
  .design-text-box .design-title p {
    font-size: 1.5rem;
  }
  .design-text-box .design-title h3 {
    padding-top: 0.8rem;
    margin: 0 auto;
  }
  .task {
    width: 90%;
  }
}
/*# sourceMappingURL=home.css.map */