/*共通*/
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Arial',sans-serif;
  line-height: 1.7;
	font-style: normal;
}
img {
  max-width: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7{
  line-height: 1.4;
}
h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
p {
  font-size: 0.95rem;
  line-height: 30px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nav */
.nav-header {
  width: 100%;
  color: #000;
  background: #fff;
  transition: 0.5s;
}  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  h1 {
    font-size: 2.1rem;
    margin: 1.0rem;
    margin-left: 3rem;
    font-family: sans-serif;
  }
}

.menu {
  width: 100%;
  font-size:0.9em;
  background-color: transparent;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}
dl, ol, ul {
  margin-bottom: 0;
}
.log {
  padding: 0 1em;
  margin-right: 3rem;
  border-bottom: none;
  color: #000;
  font-size: 16px;
  margin: 1rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1rem;
}

//new.blade
/*main*/
input {
  padding: .8rem 1rem .6rem;
  font-style: 100%;
}
main {
  width: 100%;
  text-align: center;
  color: #000;
  position: relative;
  article {
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }
}

.title-form {
  background-color: #eef2f3;
  color: #000;
  padding: 2rem;
  border: 1px solid #000; 
  text-align: left; 
  .title-item {
    margin-bottom: 1.5rem;
  }    
  .image-item {
    width: 100%;
  }
}                                 
.alert {
  color: red;
  text-align: left;
}

.item {
  background-color: #eef2f3;
  color: #000;
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #000;
  .main-item {
    text-align: left;
    display: flex;
    .main-items {
      margin-right: 1rem;
    }
  }
  .sub-item {
    display: flex;
    align-items: flex-start;
    margin-top: 1.5rem;
    textarea {
      width: 90%;
      padding: .8rem 1rem .6rem;
      font-size: 100%;
    }
  }
  .image {
    text-align: left;
    margin-top: 1rem;
  }
}

.btn-text {
  color: #eef2f3;
  padding: 0.2rem;
}
.form-btn {
  button {
   display: block;
  }
  .to {
    padding: 0.5rem 2rem;
  }
  .add-btn {
    padding: 1rem 4rem;
    margin: 0 auto;
  }
  .btn {
    border-radius: 0.5rem;
    color: #fff;
    font-weight: bold;
    background: #107ef4;
    border: 1px solid #000;
  }
}

.btn-delete,
.btn-edit {
  margin-right: 0.5rem;
}

/*new*/
.edit-new {
  width: 80%;
  padding: 0.5rem 1rem;
}

/* footer */
footer {
  width: 100%;    
  background-color: #000;
  margin-top: 5rem;
  .main-footer {
    width: 80%;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0 auto;
    color: #fff;      
    text-align: center;
    a {
      font-size: 2.5rem;
      font-family: sans-serif;
    }
  }
}

/*詳細 show*/
.plan {
  margin: 0 auto;
  text-align: center;
  img {
    width: 50%;
    margin-top: 3rem;
  }
}
.main-plan {
  color: #fff;
  border: solid 1px #fff;
  padding: 3rem;
  background-image: linear-gradient(to right top, #8a72fc 10%, #7badff 65%, #19fff9 125%);
  h2 {
      display: inline-block;
      padding: 10px 35px 12px 35px;
      font-size: 2rem;
      border: solid 2px #fff;
      margin-bottom: 2rem;
    }
  .plan-date {
    text-align: right;
  }
}

.sub-plan {
  margin-top: 5rem;
  h2 {
    display: inline-block;
    font-size: 2rem;
    border-bottom: solid 1px #107ef4;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  .border {
    border-left: solid 5px #107ef4;
  }
}
.contents-wrapper {
  display: flex;
  justify-content: center;
  text-align: left;
  .plan-wrapper {
    p {
      text-align: left;
    }
  }
}
.content-wrapper {
  color: #fff;
  border: solid 1px #fff;
  padding: 2rem;
  width: 70%;
  margin-left: 3rem;
  margin-bottom: 3rem;
  background-color: #43a6f5;
  border-radius: 10px;
  .wrapper-text {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2em;
    padding-bottom: 0.5rem;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  background: #3395ff;
  border: 1px solid #000;
}

//マイページ self
article {
  text-align: center;
  padding: 2rem;
  width: 100%;
  .task-items {
    width: 80%;
    margin: 0 auto;
    .task {
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      background: #eef2f3;
      width: 70%;
      padding: 0.7rem 0;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
      margin-right: auto;
      margin-left: auto;
      .task-text {
        width: 100%;
        word-break: break-all;
        text-align: center;
        .btn-text {
          color: #555555;
          display: block;
          img {
            width: 80%;
            text-align: center;  
          }
        }
      }
    }
  }
}

//編集 edit



@media (max-width: 599px) {  
  //nav
  nav {
    position: none;
    width: 100%;
    height: 70px;
    position: relative;
    display: block
  }

  .drawer {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /*ナビゲーション部分*/
  .menu {
    ul {
      height: 100vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      li {
        width: 100%;
      }
    }
  }

  .menu ul li a {
    display:block;
    font-weight:bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    text-decoration:none;
    color: #fff;
  }
  .menu ul li a:hover{
    background-color:rgba(0,0,0,0.5);
  }

  .menu{
    text-align:center;
    // background-color:rgba(255,255,255,0.5);
    transition: 0.55s ease;/*滑らかに表示*/
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);/*左に隠しておく*/
    background-color: rgba(46, 46, 46, 0.9);
  }

  /*OPEN時の動き*/
  .menu.open {
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
  }

  /*トグルボタンのスタイルを指定*/
  .Toggle {
    display: block;
    cursor: pointer;
    z-index: 20;
    right:50px;
    position: relative;
    bottom: 20px;
    right: 100px;
  }

  .Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
  }
  /*各ボーダー少しずつずらす*/
  .Toggle span:nth-child(1) {
    top:5px;
  }
  .Toggle span:nth-child(2) {
    top: 18px;
  }
  .Toggle span:nth-child(3) {
    top: 32px;
  }
  .Toggle.active span:nth-child(1) {
    top: 35px;
  /* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: solid 4px #fff;
    position: fixed;
  }

  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2),.Toggle.active span:nth-child(3) {
    top: 35px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 4px #fff;
    position: fixed;
  }

  //new プラン作成
  main {
    article {
      width: 100%;
      padding: 0;
    }
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .item {
    padding: 1.5rem;
  }
  .main-item {
    display: block!important;
    .main-items {
      margin-bottom: 1.5rem;
    }
  }
  .sub-item {
    margin-top: 0;
  }
    
 
 



}


