@charset "UTF-8";
/*共通*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Shuei MaruGo B,"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.7;
  font-family: adobe-arabic, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.95rem;
  line-height: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* nav */
.nav-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-header h1 {
  font-weight: bold;
  margin: 1.5rem;
  margin-left: 3rem;
}

.nav-header nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header nav .nav-wrap a {
  margin-right: 3rem;
}

.log {
  margin: 1rem;
  color: #107ef4;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1rem;
}

/*main*/
input {
  padding: .8rem 1rem .6rem;
  font-style: 100%;
}

main {
  width: 100%;
  text-align: center;
  color: #000;
  position: relative;
}

main article {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

main article form .title-form {
  background-color: #eef2f3;
  color: #000;
  padding: 2rem;
  border: 1px solid #000;
  text-align: left;
}

main article form .title-form .title-item {
  margin-bottom: 1.5rem;
}

main article form .title-form .image-item {
  width: 100%;
}

.item {
  background-color: #eef2f3;
  color: #000;
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #000;
}

.item .main-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .main-item .main-items {
  margin-right: 1rem;
}

.item .sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1.5rem;
}

.item .sub-item textarea {
  width: 90%;
  padding: .8rem 1rem .6rem;
  font-size: 100%;
}

.item .image {
  text-align: left;
  margin-top: 1rem;
}

.task-items {
  width: 100%;
}

.task-text {
  width: 70%;
  word-break: break-all;
}

.task {
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  width: 40%;
  margin-top: 1rem;
  padding: 0.7rem 0;
  height: 4rem;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.task-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-text {
  color: #eef2f3;
  padding: 0.2rem;
}

.form-btn button {
  display: block;
}

.form-btn .add-btn {
  margin: 0 auto;
}

.form-btn .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  background: #107ef4;
  border: 1px solid #000;
}

.btn-delete,
.btn-edit {
  margin-right: 0.5rem;
}

/*new*/
.edit-new {
  width: 80%;
  padding: 0.5rem 1rem;
}

/* footer */
footer {
  width: 100%;
  background-color: #000;
  margin-top: 5rem;
}

footer .main-footer {
  width: 80%;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

footer .main-footer a {
  font-size: 2.5rem;
}

/*詳細*/
.plan {
  margin: 0 auto;
  text-align: center;
}

.plan img {
  width: 50%;
  margin-top: 3rem;
}

.plan .main-plan {
  color: #fff;
  border: solid 1px #fff;
  padding: 3rem;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(10%, #8a72fc), color-stop(65%, #7badff), color-stop(125%, #19fff9));
  background-image: linear-gradient(to right top, #8a72fc 10%, #7badff 65%, #19fff9 125%);
}

.plan .main-plan h2 {
  display: inline-block;
  padding: 10px 35px 12px 35px;
  font-size: 2rem;
  border: solid 2px #fff;
  margin-bottom: 2rem;
}

.plan .main-plan .plan-date {
  text-align: right;
}

.plan .sub-plan {
  margin-top: 5rem;
}

.plan .sub-plan .plan-title {
  display: inline-block;
  font-size: 2rem;
  border-bottom: solid 1px #107ef4;
  margin-bottom: 2rem;
}

.plan .sub-plan .plan-date {
  font-size: 2rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  border-left: solid 5px #107ef4;
}

.plan .sub-plan .contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.plan .sub-plan .contents-wrapper .plan-wrapper p {
  text-align: left;
}

.plan .sub-plan .contents-wrapper .content-wrapper {
  color: #fff;
  border: solid 1px #fff;
  padding: 2rem;
  width: 70%;
  margin-left: 3rem;
  margin-bottom: 3rem;
  background-color: #107ef4;
  border-radius: 10px;
}

.plan .sub-plan .contents-wrapper .content-wrapper .wrapper-text {
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.plan .sub-plan .contents-wrapper .content-wrapper p {
  font-size: 1.2em;
  padding-bottom: 0.5rem;
}

@media (max-width: 599px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
  body {
    font-family: Shuei MaruGo B,"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.7;
    font-family: adobe-arabic, sans-serif;
    font-style: normal;
  }
  img {
    max-width: 100%;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
    line-height: 1.4;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 0.95rem;
    line-height: 30px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out, top .5s ease;
    transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }
  #container {
    z-index: 900;
  }
  #global-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
    -webkit-transition: opacity .6s ease, visibility .6s ease;
    transition: opacity .6s ease, visibility .6s ease;
  }
  #global-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
  }
  #global-nav a:hover {
    color: #666;
  }
  #global-nav ul {
    list-style: none;
  }
  #global-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, opacity .2s ease;
    transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
  }
  #global-nav ul li a {
    padding: 2em;
    border-bottom: 1px dotted #CCC;
  }
  #global-nav ul li:nth-child(2) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #global-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #global-nav ul li:nth-child(4) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  #global-nav ul li:nth-child(5) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #global-nav ul li:nth-child(6) {
    -webkit-transition-delay: .75s;
            transition-delay: .75s;
  }
  #global-nav ul li:nth-child(7) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  /* open */
  .open {
    overflow: hidden;
  }
  .open #global-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #global-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
  }
  main article {
    width: 100%;
  }
  main article form {
    width: 90%;
    margin: 0 auto;
  }
  main article form #item-list .item {
    padding: 1.5rem;
  }
  main article form #item-list .item .main-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main article form #item-list .item .main-item .main-items {
    margin-bottom: 1.5rem;
  }
  main article form #item-list .item .sub-item {
    margin-top: 0;
  }
}
/*# sourceMappingURL=new.css.map */